/* -----game section-----*/
.playgame{
	margin:40px 0 120px 0;
}
table{
	color:black;
	width:10px;
	background:url(img/wood.jpg);
	border: 2px solid black;
	margin: auto;
	height:500px;
	width:500px;
}

th{	
	text-transform:uppercase;
}
th h3{
	font-size: 20px;
}
td{	
	border:1px solid black;
	padding:5px;
}